/* footer */
footer {
    width: 100%;
    background: #333;
    padding: 100px 0px;
    border-top: 1px solid #888;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  footer .inner {
    width: 1180px;
    margin: 0px auto;
  }
  
  footer .inner .upper {
    width: 100%;
    border-bottom: 1px solid #777;
    padding-bottom: 20px;
  }
  
  footer .inner .upper::after {
    content: "";
    display: block;
    clear: both;
  }
  
  footer .inner .upper .h1 {
    float: left;
    font: bold 24px/1 "arial";
    color: #666;
  }
  
  footer .inner .lower {
    width: 100%;
    padding-top: 20px;
  }
  
  footer .inner .lower address {
    width: 100%;
    font: 12px/1.3 "arial";
    color: #777;
    margin-bottom: 20px;
  }
  
  footer .inner .lower p {
    width: 100%;
    font: 12px/1 "arial";
    color: #777;
  }