@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul,ol,li {
    list-style: none;
}

a {
    text-decoration: none;
    outline: 0;
}

figure {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background: linear-gradient(25deg, lightgrey, black);
}

figure h1 {
    position: absolute;
    top: 7vh;
    left: 4vw;
    font-size: 0;
}

figure h1 strong {
    font-size: 36px;
    font-family: "arial";
    color: #fff;
    line-height: 1.4;
    letter-spacing: 1px;
}

figure h1 span {
    font-size: 12px;
    font-family: "arial";
    color: #fff;
    opacity: 0.8;
    line-height: 1;
    letter-spacing: 1px;
}

figure .menu {
    position: absolute;
    top: 8vh;
    right: 4vw;
    font-size: 24px;
    color: #fff;
}

figure > p {
    position: absolute;
    bottom: 7vh;
    left : 50%;
    transform: translateX(-50%);
    font: 12px/1 "arial";
    color: #fff;
    letter-spacing: 2px;
    opacity: 0.8;
}

figure section {
    width: 20vw;
    height: 65vh;
    position: absolute;
    left: 50%;
    top: 140%;
    margin-top: -25vh;
    margin-left: -10vw;
    /* border: 1px solid aqua; */
    transition: 1s;
}

figure section article {
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0px;
    left: 0px;
}

figure section article .inner {
    width: 100%;
    height: 100%;
    background: #f0f7ff;
    padding: 5vh 2.5vw 8vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.1);
    opacity: 0.6;
    transform: scale(0.8);
    transition: opacity 1s, transform : 1s;
}

figure section article .inner .txt h2{
    font-size: 20px;
    font-family: "arial";
    color: #222;
    margin-top: 18vh;
}

figure section article.on .inner {
    opacity: 0.9;
    transform: scale(1.1);
}

figure section article.on .inner .title h1,
figure section article .inner .title h1 {
    color: black;
}

figure section article.on .inner .txt {
    text-align: center;
    position: relative;
    z-index: 3;
}

figure section article.on .inner .txt h2{
    font-size: 20px;
    font-family: "arial";
    color: #222;
    margin-top: 18vh;
}

figure .btnPrev {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20vw, -50%);
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

figure .btnPrev span {
    font: 11px/1 "arial";
    color: #fff;
    opacity: 1;
    transform: translateX(30%);
    translate: 0.5s;
}

figure .btnPrev::before {
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background: #fff;
	position: absolute;
	top: 50%;
	left: 0px;
	transform-origin: left center;
	transform: rotate(-180deg);
	transition: 0.5s;
}

figure .btnPrev::after {
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background: #fff;
	position: absolute;
	bottom: 50%;
	left: 0px;
	transform-origin: left center;
	transform: rotate(180deg);
	transition: 0.5s;
}

figure .btnPrev:hover span {
	opacity: 0;
	transform: translateX(100%);
}

figure .btnPrev:hover::before {
	transform: rotate(-30deg);
}

figure .btnPrev:hover::after {
	transform: rotate(30deg);
}

figure .btnNext {
	width: 60px;
	height: 60px;
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(20vw, -50%);
	display: flex;
	align-items: center;
	text-align: right;
	cursor: pointer;
}
figure .btnNext span {
	font: 11px/1 "arial";
	color: #fff;
	opacity: 1;
	transform: translateX(-30%);
	transition: 0.5s;
}
figure .btnNext::before {
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background: #fff;
	position: absolute;
	top: 50%;
	left: 0px;
	transform-origin: right center;
	transform: rotate(180deg);
	transition: 0.5s;
}
figure .btnNext::after {
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background: #fff;
	position: absolute;
	bottom: 50%;
	left: 0px;
	transform-origin: right center;
	transform: rotate(-180deg);
	transition: 0.5s;
}
figure .btnNext:hover span {
	opacity: 0;
	transform: translateX(-100%);
}
figure .btnNext:hover::before {
	transform: rotate(30deg);
}
figure .btnNext:hover::after {
	transform: rotate(-30deg);
}