@charset "utf-8";

/* 전체 옵션 */
* {
  margin: 0 auto;
  padding: 0;
  font-family: "Malgun gothic", "Sans-Serif", "Arial";
}
a {
  text-decoration: none;
  color: #333;
}
ul li {
  list-style: none;
}

/* 공통 */
.fl {
  float: left;
}
.tc {
  text-align: center;
}

/* 게시판 목록 */
#wordzip_area {
  width: 900px;
  height: 33%;
  position: relative;
}
.list-table {
  margin-top: 40px;
}
.list-table thead th {
  height: 40px;
  border-top: 2px solid #09c;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  font-size: 20px;
}
.list-table tbody td {
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  height: 25px;
  font-size: 20px;
}
#write_btn {
  position: absolute;
  margin-top: 20px;
  right: 0;
}
/* 페이지 개수 */
#page_num {
	font-size: 14px;
	margin-left: 50px;
	margin-top:30px; 
  margin-bottom: 20px;
  width: 100%;
  display: flex;
}
#page_num ul li {
	float: left;
	margin-left: 10px; 
	text-align: center;
}
.fo_re {
	font-weight: bold;
	color:red;
}
